<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>Flatland Visualization</title>
        <script  src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/d3-selection-multi.v1.min.js') }}"></script>
        <!-- <script src="js/svg-dropdown.js"></script> -->
        <script src="{{ url_for('static', filename='js/visualizationScript.js') }}"></script>
        <script src="{{ url_for('static', filename='js/playback.js') }}"></script>

        <script src="{{ url_for('static', filename='/data/data.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/svg-pan-zoom.min.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='/js/svg-pan-zoom.js') }}"></script> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script  src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script  src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
      <script  src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
      <script  src="{{ url_for('static', filename='js/selection.js') }}"></script>
        <style>

        #videoSVG{
            cursor:crosshair;
        }
        .yLegend
        {
            fill:black;
            text-anchor: end;
            dominant-baseline: middle;
        }
        .heading{
            text-align:left;
            
        }
        .footer{
            text-align:center;
            background: #f1eeee;
            /* padding:0px; */
            margin:0px;

        }
        .header{
            text-align:center;
            margin-top: 0px;
            background: #f1eeee;
            margin-bottom:5px;
        }
        .divcenter{
            text-align:center;

        }
        .info{
            font-size: 14px;

        }
        .boldText{
            font-weight: bold;
            /* font-size: 12pt; */
        }
        .largeText{
            font-size:14pt;
        }
        .result{
            font-size:14pt;

        }
        .highlighted{
            stroke:  #ffdd08;
            
            /* stroke:  black; */
            stroke-width:2px;
            /* stroke-opacity:0.3; */
            
        }
        .nothighlighted{
            stroke: white;
            stroke-width:0px;
        }
        .gameLengthBar{
            /* fill:"#0074D9"; */
            /* fill:#329fec; */
            fill: #9e9ac8;
            /* fill:black; */
            fill-opacity:1;
            stroke:grey;
            stroke-width:1px;
            /* stroke-opacity: 0.6; */
        }
        
        .footer {
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 35px;
            padding-top: 10px;
        }

        .footer ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .icon-flipped {
            transform: scaleX(-1);
        }
        .firstLine{
            font-size:12pt;
        }
        .secondLine{
            font-size:10pt;
        }
        .abbr{
            font-variant: small-caps;
        }
        .linkInTitle
        {
            color:black;
            text-decoration: underline;
        }

        #playbackDiv.fullscreen{
            z-index: 9999; 
            width: 100%; 
            height: 100%; 
            position: fixed; 
            padding-top:80px;
            top:0;
            left: 0; 
        }
        .sliderFullScreen{
            width: 500px;
            margin: auto;
        }
        .bodyFullScreen
        {
            opacity: 0.3;
        }
    
        .agentIdText {
            dominant-baseline: central;
            text-anchor: middle;
        }
        .overallStatistics{
            font-weight: bold;
        }
        .statsItem{
            padding-left:20px;
        }
        .frameStatistics{
            font-weight: bold;
        }
        .solidBorder{
            border: 1px solid black;
        }
        .viewTitle {
            display: inline;
            background-color: grey;
            color: white;
            padding: 2px 20px 3px 20px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-weight: bold;
        }
        </style>


  
  <style>
       .btn-default{
            background-color: #d6d0d0;
        }
        .glyphicon-resize-small, .glyphicon-resize-full{
            background-color: #d6d0d0;
            padding: 3px;
        }
        .ui-widget-content
        {
            background: #d6d0d0;
        }
       
        .ui-widget-header {
            background: #0000ff;
        }
        .btn-sm{
            padding:0px 6px 0px 6px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: auto auto (30%);
            grid-template-rows: 50px 20px auto auto 30px;
            grid-gap: 5px;
            height: 100vh - 30px;
            width: 100%;
            }

        .item0{
                grid-column-start: 1;
            grid-column-end: 4;

        }
        .item1{
            margin-left: 10px;
        }
            .item2{
                grid-column-start: 2;
            grid-column-end: 4;
            }

            .item4 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 5;
            width: 900px;
            margin-left:10px;
            }

            .item5{
                grid-row-start: 3;
            grid-row-end: 5;
            margin-right: 15px;
            }
            .item6{
                grid-column-start: 1;
            grid-column-end: 4;

            }


/* transition graph */
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  /* stroke: #fff; */
  stroke-width: 1px;
  cursor:pointer;
}
.stationLabel:hover{
    font-weight: bold;
}
.histogramHoverBars:hover{
    fill:"grey";
    fill-opacity: 0.2;
}
#slider{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
label{
    font-weight:normal;
}
.btn-info{
    font-size:14px;
    background-color: white;
    border-color:black;
    cursor:pointer;
    width: 40px;
    height:40px;
    padding: 0px;
    padding-top: 5px;
}
.btn-info:hover .btn-info:focus .btn-info:active{
    border-color:black;
}
.graphLinks:hover{
    stroke:black;
}
.dynamicLinks:hover{
    stroke:black;
}
.ui-slider .ui-slider-handle{
    cursor:pointer;
}

  </style>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    </head>
    <body  >
        
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select a metric:</h4>
                </div>
                <div class="modal-body">
                    <div id="gameMetricRadio">
                        <input type="radio" name="gameMetric" value="movement" checked> Distance travelled by all trains<br/>
                        <input type="radio" name="gameMetric" value="startTimestep">  # Trains that started their journey<br/>
                        <input type="radio" name="gameMetric" value="endTimestep">  # Trains that reached destination<br/>
                        <input type="radio" name="gameMetric" value="malfunctions" >  # Trains experiencing malfunction<br/>
                        <input type="radio" name="gameMetric" value="junctions" >  # Junctions witnessed by trains<br/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalOkButton">Ok</button>
                </div>
                </div>
                
            </div>
        </div>

        


        
        <div class="grid-container" id="page">
            <div class = "item0">
                <div class="header">
                    <!-- <span style="font-size:14pt;">Supplementary Material for</span><br /><br /> -->
                   
                    <div class="container-fluid">
                            <div class="row">
                                    <div class="col-sm-2" class="secondLine" style="margin-top:0pt">                               
                                        
                                        
                                        <a href="https://github.com/shivamworking/flatland-visualization" target="_blank" style="float:left;"><i class="fa fa-github" style="font-size:28px; color: black;"></i></a>
                                    </div>
                                
                                <div class="col-sm-8" >
                                    
                                            <span class="firstLine">Adventures in <a href="https://flatland.aicrowd.com/intro.html" class="linkInTitle" target="_blank">Flatland</a> : Visual Analysis of Constrained Multi-agent Rail Movement</span><br/>
                                    <span class="secondLine">(Please fill <b><a href="https://docs.google.com/forms/d/e/1FAIpQLSfandmyOnIcyClKPgSHHTzZGdhNWrKkBd0uQ95JijeF8P-9pw/viewform" target="_blank" >the feedback form</a></b> to help us in research and suggest further improvements.)</span>

                                </div>
                                <div class="col-sm-2" style="margin-top:4pt">
                                        <a href="/help" target="_blank"  class="secondLine"><span class="glyphicon glyphicon-blackboard"></span> Help</a>
                                        <a href="/contact" target="_blank"  class="secondLine" style="margin-left:15px;"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
                                        
                                        
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="item1">
                <span> Select Episode: </span>
                    <select id="datasetSelector" onchange="datasetChange()">
                            
                          </select> 
                          <!-- OR 
                            <form id = "workingForm" action = "/success" method = "post" enctype="multipart/form-data" style = "display:inline-block;">  
                                <input id="fileTag" type="file" name="files[]" multiple="true" autocomplete="off" required style = "display:inline-block;font-size:9pt;">
                                <input type = "submit" value="Visualize" style = "display:inline-block;font-size:9pt;"> 
                            </form> -->
            </div>
            <div class="item2">
                <div id="OverallStats">
                    <span >Percentage Done: </span><span id="percentDone" class="overallStatistics"></span> 
                    <span class = "statsItem"> #Trains: </span><span id="totalNumTrains" class="overallStatistics"></span> 
                    <span class = "statsItem"> #Trains <b>reached</b> destination (<span class="glyphicon glyphicon-ok "></span>): </span><span class="overallStatistics" id="totalNumTrainsReachedDestination"></span>
                    <span class = "statsItem"> #Trains <b>on-track </b>(<span class = "glyphicon glyphicon-road"></span>): </span><span class="overallStatistics" id="totalNumTrainsInProgress"></span>
                    <span class = "statsItem"> #Trains <b>did not start</b> (<span class = "glyphicon glyphicon-pause"></span>): </span><span class="overallStatistics" id="totalNumTrainsYetToRun"></span>
                </div>
            </div> 
            <div class="item4" id="item4">
                <div class="viewTitle">Timeline View</div>

                <div  id="mainDiv" class="solidBorder" style="padding:5px;">
                                
                    <!-- <svg id="mainVisualization" viewBox="0 0 1920 1000" > -->
                    <svg id="mainVisualization" style="margin-right:10px">
                        <defs>
                                <!-- arrowhead marker definition -->
                                <marker id="arrow" viewBox="0 0 10 10" refX="5" refY="5"
                                    markerWidth="6" markerHeight="6"
                                    orient="auto-start-reverse">
                                    <path d="M 0 0 L 10 5 L 0 10 z" />
                                </marker>

                                <filter x="0" y="0" width="1" height="1" id="solid">
                                    <feFlood flood-color="white"/>
                                    <feComposite in="SourceGraphic" operator="xor" operator="xor"/>
                                  </filter>
                        </defs>
                        <g id="mainVisualizationGroup"></g>
                    </svg>
            </div>
            </div>
            <div class="item5" id="rightColumn">
                <!-- <div class="viewTitle">Playback Controls</div> -->
                
                

                <div class="viewTitle">Map View</div>
                <div  id="playbackColumnDiv"  style = "margin-bottom:0px">
                    <!-- <br/> -->
                    <!-- <span style="font-weight: bold;">Current Frame</span> -->
                    <!-- <span class="glyphicon glyphicon-ok"></span><span >  #Trains Reached Destination:</span><span class="currentNumTrainsReachedDestination" class="frameStatistics"></span>
                    &nbsp;<span class = "glyphicon glyphicon-road"></span><span >  #Trains on Track:</span><span class="currentNumTrainsInProgress" class="frameStatistics"></span>
                    &nbsp;<span class = "glyphicon glyphicon-pause"></span><span >  #Trains Waiting to Start:</span><span class="currentNumTrainsYetToStart" class="frameStatistics"></span> -->
                    <div id="playbackDiv" class="solidBorder">
                        <div style="position:absolute;">
                            <!-- <i class="glyphicon glyphicon-resize-full" id="resize" isFullScreen="false"></i> -->
                            <input type="checkbox" id="heatmapCheckbox" name="heatmap" style="margin-left:10px;">
                            <label for="heatmapCheckbox"> Occupancy Time</label>
                        </div>
                        <a href="#" id="rectangleRegionSelectionButton" class="btn btn-info btn-lg" style="margin-top:50px; position:absolute;color:black; background-color: lightgrey;"
                        title = "Rectangular Selection of Regions">
                        <svg  width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-bounding-box-circles" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM0 2a2 2 0 0 1 3.937-.5h8.126A2 2 0 1 1 14.5 3.937v8.126a2 2 0 1 1-2.437 2.437H3.937A2 2 0 1 1 1.5 12.063V3.937A2 2 0 0 1 0 2zm2.5 1.937v8.126c.703.18 1.256.734 1.437 1.437h8.126a2.004 2.004 0 0 1 1.437-1.437V3.937A2.004 2.004 0 0 1 12.063 2.5H3.937A2.004 2.004 0 0 1 2.5 3.937zM14 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM2 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                          </svg>
                        </a>
                          <a href="#" class="btn btn-info btn-lg" id="railRegionSelectionButton"  style="margin-top:100px; position:absolute;  background-color: white;"
                          title = "Select Rail Line as a Region">
                            <svg  width="30px" height="30px" >
                                <image xlink:href="./static/resources/png/Gleis_horizontal.png" width="40px" height="30px" x="-5px" y="0" ></image>
                            </svg>
                            </a>
                          <a href="#" id="cancelSelectionButton" class="btn btn-info btn-lg" style="margin-top:150px; position:absolute;color:red; font-size:30px; font-weight:normal; background-color: white;"
                          title="Delete Selected Regions">
                          <span class="glyphicon "  >&#xe014;</span>
                        </a>
                          <!-- <svg id="cancelSelectionButton"  width="30px" height="30px" style="margin-top:100px; position:absolute;">
                            <image xlink:href="./static/resources/png/Gleis_horizontal.png" width="30px" height="30px" x="0" y="0" ></image>
                          </svg> -->

                        <div id="video" ></div>
                             
                             
                             

                            <!-- <br /> -->
                        </div>
                </div>
                <div style="margin-top:5px; text-align: center;">
                    <label >Step: </label><label id="frame">0</label>
                    
                    <a href="#" class="btn btn-default btn-sm icon-flipped" id="previous">
                            <span class="glyphicon glyphicon-share-alt"></span>
                        </a>
                    <a href="#" class="btn btn-default btn-sm" id="play" >
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                    <a href="#" class="btn btn-default btn-sm" id="pause" >
                        <span class="glyphicon glyphicon-pause"></span>
                    </a>
                    <a href="#" class="btn btn-default btn-sm" id="next" >
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </a>
                    <select id="speed" onchange="speedChange()">
                        <option value="400" >0.25x</option>
                        <option value="300" >0.5x</option>
                        <option value="200" selected>1x</option>
                        <option value="100">2x</option>
                        
                      </select>
                    
                     <!-- Slider -->
                    <form id="reservation" >
                    </form>
                 </div>
                
                <div class="viewTitle ">Graph View</div>
                <div id="transitionGraphDiv" class = "solidBorder">
                    <form style="margin-left:10px;">
                        <label>Show: </label><input style="margin-left:10px;" type="radio" id="aggregatedRadio" name="graphsRadio" value="aggregatedRadio" checked="checked" onclick="handleRadioClick(this);">
                        <label for="aggregatedRadio">Aggregated Graph</label>
                        <input type="radio" id="dynamicRadio" name="graphsRadio" value="dynamicRadio" onclick="handleRadioClick(this);">
                        <label for="dynamicRadio">Animated Graph</label>
                    </form>   
                    <!-- <label id="graphText">The graph shows selected regions as node and movement as edges. Select a region from the map ...</label>     -->
                            <!-- <form id="postFilesForm" method="POST" enctype="multipart/form-data">
                                <input type="file" name="file">
                                <button type="submit" role="button">Upload File</button>
                            </form> -->
                </div>
            </div>
            
            <div class="item6">
                <div class="footer" style="float:left;">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-2">
                                    <a href="https://www.uni-due.de/de/impressum.shtml" target="_blank" class="secondLine">Imprint</a>
                                    <a href="https://www.uni-due.de/de/datenschutz.php" target="_blank" style="margin-left:16px;" class="secondLine">Data Privacy</a>
                                    
                            </div>
                            <!-- <div class="col-sm-2">
                                    <a href="https://www.uni-due.de/de/datenschutz.php">Data Privacy</a>
                                    
                            </div> -->
                            <div class="col-sm-8" >
                                    Best viewed in Google Chrome at 1920 x 1200 resolution
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
            
            </div>


          </div>
        
            <!-- <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4" id="playbackColumnDiv">

                        <span class="glyphicon glyphicon-ok"></span><span >  #Trains Reached Destination:</span><span class="currentNumTrainsReachedDestination" class="frameStatistics"></span>
                        &nbsp;<span class = "glyphicon glyphicon-road"></span><span >  #Trains on Track:</span><span class="currentNumTrainsInProgress" class="frameStatistics"></span>
                        &nbsp;<span class = "glyphicon glyphicon-pause"></span><span >  #Trains Waiting to Start:</span><span class="currentNumTrainsYetToStart" class="frameStatistics"></span>
                        <div id="playbackDiv">
                                <div id="video" class="divcenter"></div>
                                <form id="reservation" >
                                    
                            
                                  </form>
                                 <div style="margin-top:5px; text-align: center;">
                                    <label >Step: </label><label id="frame">0</label>
                                    
                                    <a href="#" class="btn btn-default btn-sm icon-flipped" id="previous">
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                        </a>
                                    <a href="#" class="btn btn-default btn-sm" id="play" >
                                        <span class="glyphicon glyphicon-play"></span>
                                    </a>
                                    <a href="#" class="btn btn-default btn-sm" id="pause" >
                                        <span class="glyphicon glyphicon-pause"></span>
                                    </a>
                                    <a href="#" class="btn btn-default btn-sm" id="next" >
                                        <span class="glyphicon glyphicon-share-alt"></span>
                                    </a>
                                    <select id="speed" onchange="speedChange()">
                                        <option value="400" >0.25x</option>
                                        <option value="300" >0.5x</option>
                                        <option value="200" selected>1x</option>
                                        <option value="100">2x</option>
                                        
                                      </select>
                                    <i class="glyphicon glyphicon-resize-full" id="resize" isFullScreen="false"></i>
                                    
                                 </div>

                            </div>
                    </div>

                    <div class="col-sm-8" id="overviewColumnDiv">
                            <span> Select Episode: </span>
                            <select id="datasetSelector" onchange="datasetChange()">
                                    
                                  </select> OR 
                                    <form id = "workingForm" action = "/success" method = "post" enctype="multipart/form-data" style = "display:inline-block;">  
                                        <input id="fileTag" type="file" name="files[]" multiple="true" autocomplete="off" required style = "display:inline-block;font-size:9pt;">
                                        <input type = "submit" value="Visualize" style = "display:inline-block;font-size:9pt;"> 
                                    </form>
                                    
                            <div id="OverallStats">
                                <span class="overallStatistics">Percentage Done: </span><span id="percentDone" class="overallStatistics"></span> <br/>
                                <span> #Trains: </span><span id="totalNumTrains" class="overallStatistics"></span> <br/>
                                <span class="glyphicon glyphicon-ok"></span><span> #Trains <b>reached</b> destination: </span><span class="overallStatistics" id="totalNumTrainsReachedDestination"></span><br/>
                                <span class = "glyphicon glyphicon-road"></span><span> #Trains <b>on-track</b>: </span><span class="overallStatistics" id="totalNumTrainsInProgress"></span><br/>
                                <span class = "glyphicon glyphicon-pause"></span><span> #Trains <b>did not start</b>: </span><span class="overallStatistics" id="totalNumTrainsYetToRun"></span>
                            </div>

                            <div id="summaryDiv"></div>
                    </div>
                    
                    
                </div>
                    <div class="row " height = "870px">
                        <div class= "col-sm-12 " id="mainDiv" style="padding:5px;">
                                
                               
                                <svg id="mainVisualization" style="margin-right:10px">
                                    <defs>
                                           
                                            <marker id="arrow" viewBox="0 0 10 10" refX="5" refY="5"
                                                markerWidth="6" markerHeight="6"
                                                orient="auto-start-reverse">
                                                <path d="M 0 0 L 10 5 L 0 10 z" />
                                            </marker>

                                            <filter x="0" y="0" width="1" height="1" id="solid">
                                                <feFlood flood-color="white"/>
                                                <feComposite in="SourceGraphic" operator="xor" operator="xor"/>
                                              </filter>
                                    </defs>
                                    <g id="mainVisualizationGroup"></g>
                                </svg>
                        </div>
                        
                    </div>

            </div> -->
        <div >
            
        </div>

        
    </body>


    <script>
        window.selectedRegions = [];
        window.selectedRegionIdCounter = 1;

        window.areaSelection = "rect"; //rail
        d3.select("#rectangleRegionSelectionButton").on("click", function(){
            d3.select("#rectangleRegionSelectionButton").style("background-color", "lightgrey");
            d3.select("#railRegionSelectionButton").style("background-color", "white");
            d3.select("#railRegionGroup g").attr("pointer-events", "none");
            d3.select("#heatMap").attr("pointer-events", "all");
            d3.select("#videoSVG").style("cursor", "crosshair");
            window.areaSelection = "rect";
        })
        d3.select("#railRegionSelectionButton").on("click", function(){
            d3.select("#rectangleRegionSelectionButton").style("background-color", "white");
            d3.select("#railRegionSelectionButton").style("background-color", "lightgrey");
            d3.select("#railRegionGroup g").attr("pointer-events", "all");
            d3.select("#heatMap").attr("pointer-events", "none");
            d3.select("#videoSVG").style("cursor", "default");
            window.areaSelection = "rail";
        })
        d3.select("#cancelSelectionButton").on("click", function(){
            for (var i = 0; i < _param.selectionRectanglesArray.length; i++)
                _param.selectionRectanglesArray[i].remove();
            _param.selectionRectanglesArray = [];
            _param.selectedRailRegionIds = {};
            d3.selectAll(".railRegions").attr("visibility", "hidden");
            // _param.graph={};
            d3.selectAll(".regionIdText").remove();

            d3.select("#transitionGraphSvg").selectAll("*").remove();
            window.selectedRegions = [];
            window.selectedRegionIdCounter = 1;
            computeOccupyingCellsByRegions(d3.select("#transitionGraphSvg"));
            //   d3.select("#dynamicGraphGroup").remove();
            appendSampleGraphText();
        })


function handleRadioClick(radio)
{
    var value = radio.value;
    if(value === "aggregatedRadio")
    {
        d3.select("#dynamicGraphGroup").attr("visibility","hidden");
        d3.selectAll(".movingTrains").attr("visibility","hidden");
        d3.selectAll(".dynamicLinks").attr("visibility","hidden");
        d3.select("#aggregatedGraphGroup").attr("visibility","visible");
    }
    else if(value === "dynamicRadio")
    {
        d3.select("#aggregatedGraphGroup").attr("visibility","hidden");
        d3.select("#dynamicGraphGroup").attr("visibility","visible");
        computeGraphForEachTimestep();
    }
}

window.addEventListener( "load", function () {
  function sendData() {
    const XHR = new XMLHttpRequest();

    // Bind the FormData object and the form element
    const FD = new FormData( form );

    // Define what happens on successful data submission
    XHR.addEventListener( "load", function(event) {
    //   alert( event.target.responseText );
    //   console.log( event.target.responseText);
      window.isDataLoadedByUser = true;
      initialize(true, event.target.responseText);
    } );

    // Define what happens in case of error
    XHR.addEventListener( "error", function( event ) {
      alert( 'Oops! Something went wrong.' );
    } );

    // Set up our request
    XHR.open( "POST", "/success" );

    // The data sent is what the user provided in the form
    XHR.send( FD );
  }
 
  // Access the form element...
  const form = document.getElementById( "workingForm" );

  // ...and take over its submit event.
  if(form !=undefined)
  {
      form.addEventListener( "submit", function ( event ) {
        event.preventDefault();

        sendData();
    } );
    }
} );

        window.showHeatmap = true;
        window.currentVerticalPosition = 0;
        // window.figureForTeaser = true;
        window.figureForTeaser = false;
        window.highlightEvents = {"movement": true, "startTrain": true, "endTrain": true, "junction": false, "malfunction": true, "deadlock": true};

        window.maxGameLength = 802;
        window.timeWait = 200;
        window.metric_labelDictionary = {
            "movement": "Distance Travelled",
            "startTimestep": "# Trains Started",
            "endTimestep": "# Trains Ended",
            "junctions": "# Junctions",
            "malfunctions": "# Malfunctions"

        }
        window.selectedMetric = "movement";

        window.agentIndex_RowidDictionary = {
                0: "e1",
                1: "e3",
                2: "e2",
                3: "e4"
            };
        window.Rowid_agentIndexDictionary = {
                "e1": 0,
                "e3": 1,
            "e2" : 2,
            "e4":3
            };
        window.isDataLoadedByUser = false;

        
        // Check for the various File API support.
        if (window.File && window.FileReader && window.FileList && window.Blob) {
        // Great success! All the File APIs are supported.
        } else {
        alert('The File APIs are not fully supported in this browser.');
        }

        d3.select("#resize").on("click", function(){
            var isFullScreen = d3.select("#resize").attr("isfullscreen");
            var isplaying = window.playClicked;

            if(window.playClicked == true)
            {
                clearInterval(window.intervalId);
                d3.select("#status").interrupt();
                window.playClicked = false;
                
            }
            $('#playbackDiv').toggleClass('fullscreen');
            $('#slider').toggleClass('sliderFullScreen');
            $('#overviewColumnDiv').toggleClass('bodyFullScreen');
            $('#mainDiv').toggleClass('bodyFullScreen');

            if(isFullScreen == "false")
            {
               
                window.svgWidthHeight = 800;
                isFullScreen = "true";
                d3.select("#resize").attr("class", "glyphicon glyphicon-resize-small");
                d3.select("#playbackDiv").attr("opacity",1);
                
            }
            else
            {
                isFullScreen = "false";
                window.svgWidthHeight = 600;
                d3.select("#resize").attr("class", "glyphicon glyphicon-resize-full");

            }
            d3.select("#resize").attr("isfullscreen", isFullScreen);
            d3.select("#videoSVG").attr("width", window.svgWidthHeight).attr("height", window.svgWidthHeight);


            i = $( "#slider" ).slider("value");
            var video = d3.select("#videoSVG");
            renderNextFrame(window.data[window.selectedEpisodeKey], i, video);

            if(isplaying)
            {
                
                window.intervalId = setInterval(function()
                    {
                        renderNextFrame(window.pommermanData["blob"]["state"], i, video);
                        i++; 
                    }, window.timeWait);

                    var sbar = d3.select("#status");
                    var t = d3.select('#status').node().transform.baseVal[0].matrix;
                    var currentX = t["e"];
                    var totalDuration = window.selectedEpisodeLength * window.timeWait;
                    var visEndX = globalXScale(window.selectedEpisodeLength) ;
                    var visStartX = globalXScale(0);
                    var alpha = ((visEndX - visStartX)/totalDuration);
                    var dur = (currentX - visStartX)/alpha;
                    d3.select("#status").attr("transform","translate("+currentX+",0)" )
                    .transition().duration((totalDuration - dur))
                    .ease(d3.easeLinear)
                    .attr("transform","translate("+(visEndX)+",0)" );
                    window.playClicked = true;
            }

        });
        function speedChange()
        {
            var e = document.getElementById("speed");
            window.timeWait = parseInt(e.options[e.selectedIndex].value);
            var isplaying = window.playClicked;

            if(window.playClicked == true)
            {
                clearInterval(window.intervalId);
                d3.select("#status").interrupt();
                window.playClicked = false;
                
            }
            if(isplaying)
            {
                i = $( "#slider" ).slider("value");
                var video = d3.select("#videoSVG");
                window.intervalId = setInterval(function()
                    {
                        renderNextFrame(window.data[window.selectedEpisodeKey], i, video);
                        i++; 
                    }, window.timeWait);

                    var sbar = d3.select("#status");
                    var t = d3.select('#status').node().transform.baseVal[0].matrix;
                    var currentX = t["e"];
                    var totalDuration = window.selectedEpisodeLength * window.timeWait;
                    var visEndX = globalXScale(window.selectedEpisodeLength) ;
                    var visStartX = globalXScale(0);
                    var alpha = ((visEndX - visStartX)/totalDuration);
                    var dur = (currentX - visStartX)/alpha;
                    d3.select("#status").attr("transform","translate("+currentX+",0)" )
                    .transition().duration((totalDuration - dur))
                    .ease(d3.easeLinear)
                    .attr("transform","translate("+(visEndX)+",0)" );
                    window.playClicked = true;
            }



        }
        function datasetChange()
        {
            d3.select('body').style("cursor", "wait");
            _param.graph = {"nodes": {}, "links":[]};
            window.selectedRegions = [];
            window.selectedRegionIdCounter = 1;
            d3.select("#transitionGraphSvg").selectAll("*").remove();
            appendSampleGraphText();

            var e = document.getElementById("datasetSelector");
            var episodeKey = e.options[e.selectedIndex].value;
            if(window.selectedEpisodeKey != episodeKey)
                loadSpecificGame(episodeKey);
            // $("body").css("cursor", "progress");
            
        }

        window.fileNamesArray=[];
        
        function drawOverviewMetric(svg, xscale2, yscale2, overviewStatsPerGame, isTeamGame, metricName, heightOfCell)
            {
                d3.select("#metricGroup").selectAll("*").remove();
                var metricGroup =  d3.select("#metricGroup");

                window.selectedMetric = metricName;
                d3.selectAll(".selectedMetric").text(window.metric_labelDictionary[window.selectedMetric]);

                var dataArray=[];
                var min = 99999999, max = -1;
                for(var i=0; i< overviewStatsPerGame.length; i++)
                {
                    var temp = [];
                   
                    
                    if(isTeam)
                    {
                        temp.push(overviewStatsPerGame[i]["e1"][metricName] + overviewStatsPerGame[i]["e2"][metricName]);
                        temp.push(overviewStatsPerGame[i]["e3"][metricName] + overviewStatsPerGame[i]["e4"][metricName]);
                    }
                    else
                    {
                        temp.push(overviewStatsPerGame[i]["e1"][metricName]);
                        temp.push(overviewStatsPerGame[i]["e2"][metricName]);
                        temp.push(overviewStatsPerGame[i]["e3"][metricName]);
                        temp.push(overviewStatsPerGame[i]["e4"][metricName]);
                    }
                    var tempMin = d3.min(temp);
                    var tempMax = d3.max(temp);

                    if(tempMin < min) min = tempMin;
                    if(tempMax > max) max = tempMax;
                    dataArray.push(temp);
                }
            
                var barHeightScale = d3.scaleLinear().domain([0, max]).range([0, heightOfCell - 4]);
                for(var i=0; i< dataArray.length; i++)
                {
                    var svgGroup = metricGroup.append("g").attrs({
                        "gameIndex": i,
                        "cursor": "pointer"
                    });

                    for(var j=0; j< dataArray[i].length; j++)
                    {
                        var reductionInBarWidth = 5;

                         // border of bars
                         svgGroup.append("rect").attrs({
                            "x": xscale2(i) + reductionInBarWidth,
                            "y": yscale2(j+"-"),
                            "height":heightOfCell,
                            "width": heightOfCell - 2*reductionInBarWidth,
                            "fill": "white",
                            "stroke": "black",
                            "stroke-width":"2px"
                        });
                        
                        svgGroup.append("rect").attrs({
                            "x": xscale2(i) + reductionInBarWidth + 1,
                            "y": yscale2(j+"-") + heightOfCell - barHeightScale(dataArray[i][j]) - 1,
                            "width":heightOfCell - 2*reductionInBarWidth - 2,
                            "height": barHeightScale(dataArray[i][j]),
                            "fill": _param.histogramBarColor,
                            "stroke": _param.histogramBarColor
                        }).append("title").text(dataArray[i][j]);
                        // metricGroup.append("rect").attrs({
                        //     "x": xscale2(i) + 1,
                        //     "y": yscale2(j+"-"),
                        //     "height":heightOfCell,
                        //     "width": barHeightScale(dataArray[i][j]) - 2,
                        //     "fill": "grey"
                        // });

                       
                        svgGroup.on("click", function(){
                            var gameIndex = d3.select(this).attr("gameIndex");
                            loadGame(gameIndex);
                        })
                        svgGroup.on("mousemove", function(){
                            var gameIndex = d3.select(this).attr("gameIndex");
                            d3.select("#highlightRectid"+gameIndex).classed("highlighted", true).classed("nothighlighted", false);
                        });
                        svgGroup.on("mouseout", function(){
                            var gameIndex = d3.select(this).attr("gameIndex");
                            if(d3.select("#highlightRectid"+gameIndex).attr("selected") == "false")
                                d3.select("#highlightRectid"+gameIndex).classed("highlighted", false).classed("nothighlighted", true);
                        });
                    }
                }
            }

        function loadGame(gameIndex)
        {
            d3.selectAll(".highlightRect").classed("highlighted", false).classed("nothighlighted", true);
            d3.selectAll(".highlightRect").attr("selected", "false");
            // var gameIndex = d3.select(this).attr("gameIndex");
            // d3.select(this).select(".highlightRect").classed("highlighted", true).classed("nothighlighted", false);
            d3.select("#highlightRectid"+gameIndex).classed("highlighted", true).classed("nothighlighted", false);
            
            clearInterval(window.intervalId);
            d3.select("#status").interrupt();
            window.playClicked = false;

            loadSpecificGame(gameIndex);
            window.selectedGame = gameIndex;
            d3.select("#highlightRectid"+gameIndex).attr("selected", true);
        }
        $(window).resize(function() {
            // console.log('window was resized' + document.body.clientWidth + " x "+document.body.clientHeight);
            // window.item4Width = undefined;
            var screenWidth = document.body.clientWidth;
            window.zoomFactor = screenWidth/1940;
            d3.select("#page").style("zoom", window.zoomFactor);
            // d3.select("#mainDiv").style("zoom", zoomFactor);
            // d3.select("#rightColumn").style("zoom", zoomFactor);
            // d3.select("#playbackColumnDiv").style("zoom", zoomFactor);
            // d3.select("#summaryDiv").style("zoom", zoomFactor);
        });
       

        
        function initialize(uploadedLogs, logData)
        {
            var dropdown = d3.select("#datasetSelector");
            window.selectedEpisodeKey = -1;

            if(uploadedLogs == true)
            {
                window.jsonLogData = JSON.parse(JSON.parse(logData));
                window.testLevels = jsonLogData['testLevels'];
                $("#datasetSelector").empty();
                window.selectedEpisodeKey = -1;
            }
            else
            {
                window.testLevels.sort(function(a,b){
                    atechParts = a.split("-");
                    btechParts = b.split("-");
                    if(atechParts[0] == btechParts[0])
                    {
                        aParts = a.split("_");
                        bParts = b.split("_");
                        aInt = parseInt(aParts[1]+aParts[3]);
                        bInt = parseInt(bParts[1]+bParts[3]);
                        return aInt-bInt;
                    }
                    else
                    {
                        if(atechParts[0] == "RL")
                            return -1;
                        else
                            return 1
                    }
                })
                window.selectedEpisodeKey = "RL-Test_11_Level_0";
            }

            
            for(var episodekey in window.testLevels)
            {
                if(window.selectedEpisodeKey == -1)
                {
                    window.selectedEpisodeKey = window.testLevels[episodekey];
                    dropdown.append("option").attr("selected", "").attr("value", window.testLevels[episodekey]).text(window.testLevels[episodekey]);
                }
                else if(window.selectedEpisodeKey === window.testLevels[episodekey])
                    dropdown.append("option").attr("selected", "").attr("value", window.testLevels[episodekey]).text(window.testLevels[episodekey]);
                else
                    dropdown.append("option").attr("value", window.testLevels[episodekey]).text(window.testLevels[episodekey]);

            }
            
            loadSpecificGame(window.selectedEpisodeKey)
        }


        window.onload = function() 
        {


            var screenWidth = document.body.clientWidth;
            window.zoomFactor = screenWidth/1940;
            d3.select("#page").style("zoom", window.zoomFactor);
            // window.item4Width = d3.select("#item4").node().getBoundingClientRect().width;
            // d3.select("#mainDiv").style("zoom", window.zoomFactor);
            // d3.select("#rightColumn").style("zoom", window.zoomFactor);
            // d3.select("#summaryDiv").style("zoom", window.zoomFactor);
            // var playbackHeight = d3.select("#overviewColumnDiv").node().getBoundingClientRect().height *window.zoomFactor;

            d3.select("#modalOkButton").on("click", function(){
                var radios = document.querySelectorAll('input[name=gameMetric]:checked');
                var value = radios.length>0? radios[0].value: null;
                window.selectedMetric = value;
                var team1Data = computeHistogramData(_param.agentTimelineData, value, 10);
                var root1 = d3.select("#histogram");
                drawEventHistogram(value, "trains", 10, team1Data, 1, root1);

            });

            // d3.select("#playbackColumnDiv").style("zoom", window.zoomFactor);
            // d3.select("#playbackColumnDiv").attr("height", playbackHeight);

            var select = $( "#reservation" );
            var slider = $( "<div id='slider'></div>" ).insertAfter( select ).slider({
            min: 1,
            max: 6,
            range: "min",
            value: select[ 0 ].selectedIndex + 1,
            slide: function( event, ui ) {
                    select[ 0 ].selectedIndex = ui.value - 1;
                }
            });
            $( "#minbeds" ).on( "change", function() {
            slider.slider( "value", this.selectedIndex + 1 );
            });

            // drawVisualization(window.selectedEpisodeKey);

            // preprocessData();

            initialize();

            d3.select("#heatmapCheckbox").on("click", function(){
                if(document.getElementById("heatmapCheckbox").checked)
                {    d3.select("#heatMap").attr("display", "visible");
                    window.showHeatmap = true;
                }
                else
                {
                    d3.select("#heatMap").attr("display", "none");
                    window.showHeatmap = false;
                }

            })


        };

        function loadSpecificGame(episodekey)
        {
            // window.pommermanData = {"blob": window.gamesDataArray[gameIndex]};
            // drawVisualization();
            window.selectedEpisodeKey = episodekey;
            // if(window.item4Width != undefined)
            // {
            //     d3.select("#item4").attr("width", window.item4Width);
            // }
            if(window.isDataLoadedByUser == false)
            {
                filename = "./static/data/levelsData/"+episodekey+".json"
            
                d3.json(filename, function(jsonData){
                    window.data = jsonData;
                    window.selectedEpisodeLength = window.data['environmentData']['episode'].length;
                    drawVisualization();
                    d3.select('body').style("cursor","default");
                });
            }
            else
            {
                window.data = window.jsonLogData[window.selectedEpisodeKey];
                window.selectedEpisodeLength = window.data['environmentData']['episode'].length;
                drawVisualization();
                d3.select('body').style("cursor","default");

            }
            
        }

        
        
        // preparePlayback();
    </script>

</html>